html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #212121;
  --tittle-text-color: #757575;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --hero-bgr-color: #2f303a;
  --button-bgr-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  text-align: center;
}
.section {
  padding: 94px 0;
}
.head {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 25px;
  margin: 0 auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.accent {
  color: var(--accent-color);
}
.logo {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.site-nav {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.link {
  color: var(--primary-text-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.contacts .mail {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .tel {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .mail:hover,
.contacts .mail:focus {
  color: var(--accent-color);
}
.contacts .tel:hover,
.contacts .tel:focus {
  color: var(--accent-color);
}
.hero {
  width: 1600px;
  height: 600px;
  background-color: var(--hero-bgr-color);

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0;
}
.hero-tittle {
  color: var(--hero-text-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}
.button {
  font-style: normal;
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  padding-bottom: 0;
}
.button-prim {
  color: var(--hero-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  min-width: 200px;
  border: 1px solid transparent;

  padding: 10px 32px;
}
.button-sec {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--button-bgr-color);
  min-width: 83px;
}
.button-sec:focus,
.button-sec:hover {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
}

.features-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  text-align: left;
  margin-bottom: 10px;
}
.features-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--tittle-text-color);

  text-align: left;
}
.occupation {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
.team-tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;

  margin-bottom: 50px;
}
.team-occupation {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
}
.team-foto {
  margin-top: 30px;
}
.team-member {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-top: 10px;
}
.foot {
  background-color: var(--hero-bgr-color);
}
.logo-foot {
  color: var(--hero-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.addr {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--hero-text-color);
}

.addr .mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.addr .tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.addr .mail:hover,
.addr .mail:focus {
  color: var(--accent-color);
}
.addr .tel:hover,
.addr .tel:focus {
  color: var(--accent-color);
}

/*Portfolio style*/
.work-list a {
  text-decoration: none;
  color: var(--primary-text-color)
}
.work-item {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  color: var(--tittle-text-color);
}
